.cats {
  margin-top: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  max-width: 500px;
}
::-webkit-scrollbar {
  display: none;
}
.cover_img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  padding: 1px;
  border-radius: 10px;
}
.cat_name {
  text-align: center;
  margin-top: px;
  padding-bottom: 3px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}
.cat_details {
  border-style: groove;
  margin: 1px;
  border-radius: 10px;
  background-color: rgb(195, 193, 193);
}
