@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.cats {
  margin-top: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  max-width: 500px;
  margin: auto;
  padding: 0.1rem;
}
::-webkit-scrollbar {
  display: none;
}
.cover_img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  padding: 1px;
  border-radius: 10px;
}
.cat_name {
  text-align: center;
  margin-top: px;
  padding-bottom: 3px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
}
.cat_details {
  border-style: groove;
  border-radius: 10px;
  background-color: rgb(195, 193, 193);
  transition: transform 0.1s;
  padding: 0.1px;
}
.cat_details:hover {
  border-style: groove;
  border-width: 0.1rem;
  border-color: black;
}
